@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #3F4342,#3C403F,#565958, #8C8C8C,#BFBFBD,#999999);
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
